{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="card large">
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}
{% endwith %}

<fieldset>
<legend>Your PRs</legend>
<table>
<tr>
  <th>Description</th>
  <th>Start time</th>
  <th>End time</th>
  <th>Priority</th>
  <th>Owner</th>
  <th></th>
</tr>
{% for pr in pr_list %}
  <tr>
    <td data-label="Description:">  <a href="/static/pr/{{pr.file_name}}">{{ pr.desc }}</a></td>
    <td data-label="Start time:">   {{ pr.start_date.strftime('%Y-%m-%d, %H:%M') }}</td>
    <td data-label="End time:">     {{ pr.end_date.strftime('%Y-%m-%d, %H:%M') }}</td>
    <td data-label="Priority:">     {{ pr.priority }}</td>
    <td data-label="Owner:">        {{ pr.owner }}</td>
    <td data-label="">              
      <a href="/admin/modify_pr?id={{pr.id}}" role="button" style="margin: 0px" class="small">Modify</a>
      <a href="/admin/delete?id={{pr.id}}" role="button" style="margin: 0px" class="secondary small">Delete</a>
    </td>
  </tr>
{% endfor %}
</table>
</fieldset>

<fieldset>
<legend>Upload PR</legend>
<form method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="row responsive-label">
    <div class="col-sm-12 col-md-2">
      {{ form.file.label}}

      <label for="modal-control"><span class="icon-info"></span></label>
      <input type="checkbox" id="modal-control" class="modal">
      <div>
        <div class="card">
          <label for="modal-control" class="modal-close"></label>
          <h3 class="section">File</h3>
          <p class="section">
            Supported file types: .jpg, .png and .mp4 (Max 5 MiB).<br>
            Images should if possible be 1920x1080. <br>
            Videos must be H.264 in the MP4 container. They
            will be looped, played without sound and handled
            the same way as images. Do not upload videos larger
            than 1920x1080. It's recommended to use ffmpeg with x264
            for video encoding.
          </p>
        </div>
      </div>

    </div>
    <div class="col-sm-12 col-md">
      {{ form.file }}
      {% for error in form.file.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
  </div>
    

  <div class="row responsive-label">
    <div class="col-sm-12 col-md-2">
      {{ form.desc.label }}
    </div>
    <div class="col-sm-12 col-md">
      {{ form.desc }}
      {% for error in form.desc.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
  </div>

  <div class="row responsive-label">
    <div class="col-sm-12 col-md-2">
      {{ form.start_date.label }}
    </div>
    <div class="col-sm-12 col-md">
    {{ form.start_date }} (First day the PR will be shown)
    {% for error in form.start_date.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </div>
  </div>

  <div class="row responsive-label">
    <div class="col-sm-12 col-md-2">
      {{ form.end_date.label }}
    </div>
    <div class="col-sm-12 col-md">
      {{ form.end_date}} (Last day the PR will be shown)
      {% for error in form.end_date.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
  </div>

  <div class="row responsive-label">
    <div class="col-sm-12 col-md-2">
      {{ form.priority.label }} 
    </div>
    <div class="col-sm-12 col-md">
      {{ form.priority }} (Only this PR will be shown)
    </div>
  </div>

  <div class="row responsive-label">
    <div class="col-sm-12 col-md-2">
      {{ form.submit }}
    </div>
  </div>
</form>
</fieldset>

{% endblock %}