<html>
  <head>
    <title>TV-Mannen</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <a href="/" class="logo">TV-Mannen</a>
      <a href="/admin" class="button">Admin</a>
      <a href="/admin/users" class="button">Users</a>
      <p>Hello!</p>
    </header>
    {% block content %}{% endblock %}
    
    <footer>
      {% if user %}
      <p>Logged in as {{user.username}} ({{user.role}})  |
        <a href="/admin/change_password">Change password</a> |
        <a href="/logout">Logout</a>
      </p>
      {% endif %}

      <p><a href="https://github.com/dtekcth/tvmannen">TV-Mannen</a></p>
    </footer>
  </body>
</html>