{% extends "base.html" %}

{% block content %}

<h1>Users</h1>
{% for user in users %}
<p> {{ user.id }}, {{ user.username }}, {{ user.role }} <a href="/admin/users/delete?id={{user.id}}">Delete User</a></p>
{% endfor %}

<h1>Create user</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.username.label }}<br>
    {{ form.username(size=32) }}<br>
    {% for error in form.username.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password.label }}<br>
    {{ form.password(size=32) }}<br>
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password2.label }}<br>
    {{ form.password2(size=32) }}<br>
    {% for error in form.password2.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.role.label }} <br>
    {{ form.role }} <br>
    Admins get full access to all PRs and can create new users.
    PRs only get access to their own PRs.
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}